{% load static %}

{% block hero %}

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>Zimbabwe going Beyond</h6>
                <h2>“Beyond the Limits”</h2>
                <p>A land of breathtaking landscapes and rich cultural heritage.<br> 
                    Explore the warmth of our people, the rhythm of our music and the beauty of our wildlife. 
                    Join us in celebrating the spirit of innovation and resilience that defines Zimbabwe.</p>
                <a href="#intro" class="btn theme_btn button_hover">Get Started</a>
            </div>
        </div>
    </div>

</section>
<!--================Banner Area =================-->

{% endblock %}

        