{% load static %}


<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'assets/js/mail-script.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'assets/vendors/nice-select/js/jquery.nice-select.js' %}"></script>
<script src="{% static 'assets/js/mail-script.js' %}"></script>
<script src="{% static 'assetsjs/stellar.js' %}"></script>
<script src="{% static 'assets/vendors/lightbox/simpleLightbox.min.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/js/mycustom.js' %}"></script>