{% load static %}


 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
 <link rel="stylesheet" href="{% static 'assets/vendors/linericon/style.css' %}">
 <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
 <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/owl.carousel.min.css' %}">
 <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css' %}">
 <link rel="stylesheet" href="{% static 'assets/vendors/nice-select/css/nice-select.css' %}">
 <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/owl.carousel.min.css' %}">
 <!-- main css -->
 <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
 <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
 <link rel="stylesheet" href="{% static 'assets/css/mycustom.css' %}">
 <link rel="stylesheet" href="{% static 'assets/css/forms.css' %}">